body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #1a1a1a; /* Dark background color */
    color: #fff; /* Light text color */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333; /* Container background color */
    border: 2px solid #444; /* Container border color */
}

.drop-zone {
    border: 2px dashed #ccc;
    padding: 20px;
    margin: 20px 0;
    background-color: #222;
    color: #ccc;
    text-align: center;
}

.button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #0056b3;
}