<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Marking Tool</title>
</head>

<body>
    <div class="container">
        <h1>Image Marking Tool</h1>
        <div class="drop-zone" id="pictures-drop-zone">
            <input type="file" id="pictures-input" accept="image/jpeg" multiple style="display: none;">
            <p>Click to Select or Drop JPEG Images Here (Pictures)</p>
            <ul id="selected-pictures-list"></ul>
        </div>

        <div class="drop-zone" id="watermark-drop-zone">
            <input type="file" id="watermark-input" accept="image/png" style="display: none;">
            <p>Click to Select or Drop a PNG Image Here (Watermark)</p>
            <ul id="selected-watermark-list"></ul>
        </div>

        <button class="button" id="mark-button">Mark Images</button>

    </div>

<!--Script that allows to select multiple JPEG in the pictures-drop-zone-->
<script>
    const picturesDropZone = document.getElementById("pictures-drop-zone");
    const picturesInput = document.getElementById("pictures-input");
    const selectedPicturesList = document.getElementById("selected-pictures-list");

    picturesDropZone.addEventListener("click", () => {
        picturesInput.click();
    });

    picturesInput.addEventListener("change", () => {
        // Clear the previously displayed list of selected pictures
        selectedPicturesList.innerHTML = '';

        // Handle selected files here
        const selectedFiles = picturesInput.files;
        for (let i = 0; i < selectedFiles.length; i++) {
            const fileName = selectedFiles[i].name;

            // Create a list item for each selected file
            const listItem = document.createElement("li");
            listItem.textContent = fileName;

            // Append the list item to the <ul>
            selectedPicturesList.appendChild(listItem);
        }
    });
</script>

<!--Script that allows a single PNG file be selected with the watermark-drop-zone-->
<script>
    const watermarkDropZone = document.getElementById("watermark-drop-zone");
    const watermarkInput = document.getElementById("watermark-input");
    const selectedWatermarkList = document.getElementById("selected-watermark-list");

    watermarkDropZone.addEventListener("click", () => {
        watermarkInput.click();
    });

    watermarkInput.addEventListener("change", () => {
        // Clear the previously displayed watermark file
        selectedWatermarkList.innerHTML = '';

        // Handle the selected watermark file here
        const selectedFile = watermarkInput.files[0];

        if (selectedFile && selectedFile.type === "image/png") {
            // Display the selected PNG file name
            const fileName = selectedFile.name;

            // Create a list item for the selected watermark file
            const listItem = document.createElement("li");
            listItem.textContent = fileName;

            // Append the list item to the <ul>
            selectedWatermarkList.appendChild(listItem);
        } else {
            // If the selected file is not a valid PNG file, provide an error message
            const errorMessage = document.createElement("li");
            errorMessage.textContent = "Please select a valid PNG file.";
            selectedWatermarkList.appendChild(errorMessage);
        }
    });
</script>

<!--Script to upload the JPEG and PNG files to the tmp folder
performs the watermarking process and generates a zip file
for the final user with the watermarked images-->
<script>
const markButton = document.getElementById("mark-button");
markButton.addEventListener("click", () => {
    // Create a FormData object to send the selected files
    const formData = new FormData();

    // Check if files are selected in the "pictures-drop-zone"
    if (picturesInput.files.length === 0) {
        alert("Please select one or more images.");
        return;
    }

    // Append the selected JPEG files to the FormData
    for (let i = 0; i < picturesInput.files.length; i++) {
        formData.append("file", picturesInput.files[i]);
    }

    // Check if a file is selected in the "watermark-drop-zone"
    if (watermarkInput.files.length === 0) {
        alert("Please select a PNG image for watermarking.");
        return;
    }

    // Append the selected PNG file to the FormData
    if (watermarkInput.files.length === 1) {
        formData.append("file", watermarkInput.files[0]);
    } else {
        alert("Please select only one PNG image for watermarking.");
        return;
    }

    // Send a POST request to the Flask route
    fetch("/upload", {
    method: "POST",
    body: formData,
})
.then(response => {
    if (response.ok) {
        // Initiate the download
        response.blob().then(blob => {
            const url = window.URL.createObjectURL(blob);
            const a = document.createElement("a");
            a.href = url;
            a.download = "marked_images.zip";
            document.body.appendChild(a);
            a.click();
            window.URL.revokeObjectURL(url);

        });
    } else {
        // Handle errors
        console.error("An error occurred during processing. Please try again.");
    }
})
.catch(error => {
    // Handle errors
    console.error(error);
});
});
</script>
</body>
</html>
